################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FaktuRka/FileContentIndex/14bbfb92-ae3d-4eb9-b554-4065756d12aa.vsidx
